.Container{
	height:100vh;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
}

.item1{
width:500px;
height:30px;
border:1px solid;

}
.item2{
width:500px;
height:30px;
border:1px solid;
}

.item3{
width:500px;
height:30px;
border:1px solid;
}