.Container{
	height:100vh;
	display:flex;
	flex-wrap:wrap;
	align-content:stretch;
}

.item1{
width:500px;

border:1px solid;

}
.item2{
width:500px;

border:1px solid;
}

.item3{
width:500px;

border:1px solid;
}